*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #3b0b72;
}  
::-webkit-scrollbar-track {
    background: #f2f2f2;
}
.none{
    display: none;   
}
header{
    background-color: #720B4F;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}
header img{
    margin: 10px;
    cursor: pointer;
}
body{
    background-color: #BFBFBF;
    color: rgba(255, 255, 255, 0.87);
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 10px;
    width: 100%;
    height: 93vh;
}
.container .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.container .modal .modal-content {
    background-color: #720B4F;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}
.container .modal .modal-content div{
    margin: 10px;
    margin-right: 70px;
}

.container .modal .modal-content div a#botao-cadastro{
    text-decoration: underline;
    color: #9d78c7;
    cursor: pointer;
}
.container .modal .modal-content div.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.container .modal .modal-content input{
    padding: 5px 10px;
    margin: 5px;
    background-color: #888;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}
.container .modal .modal-content .checkbox input[type="checkbox"]{
    color: white;
    font-size: 18px;
    width: auto;
    border: none;
}

.container .modal .modal-content .checkbox span{
    margin-right: 3rem;
}
.container .modal button{
    padding: 5px 10px;
    margin: 5px;
    background-color: #3b0b72;
    color: white;
    font-size: 15px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container .modal button:hover,
.container .modal button:focus{
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(0, 145, 137);
    color: white;
    font-size: 15px;
    width: 100px;
    border-radius: 10px;
    border: none;
}
.container .modal .close {
    position: absolute;
    right: 14em;
    top: 3.5em;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.modal .close:hover,
.modal .close:focus {
    color: red;
    cursor: pointer;
}

.container .nav{
    background-color: #7D3765;
    width: fit-content;   
}
.container .nav h2{
    width: fit-content;
    margin-bottom: 10px;
    padding: 0px;
    font-weight: 500;
}
.container .nav div#lista-container{
    margin: 20px;
    width: fit-content;
}
.container .nav div#lista-container div.servicos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    width: fit-content;
}
.container .nav div#lista-container div.servicos ul#lista-servicos{
    margin-bottom: 10px;
    overflow-y: scroll;
}
.container .nav div#lista-container div.servicos ul#lista-servicos li button{
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 0px;
    background-color: transparent;
    border-bottom: 2px dotted #3b0b72;
    color: white;
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
}
.container .nav div#lista-container div.servicos ul#lista-servicos li button:focus,
.container .nav div#lista-container div.servicos ul#lista-servicos li button:hover{
    background-color: #3b0b72;
}
.container .nav div#lista-container div.servicos ul#lista-pessoa{
    list-style: none;
    display: flex;
}
.container .nav div#lista-container div.servicos button#adicionar-servico{
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #3b0b72;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container .nav div#lista-container div.servicos button#excluir-usuario{
    margin-right: 5px;
    padding: 5px 10px;
    background-color: rgb(128, 2, 2);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container .nav button{
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #3b0b72;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container .nav div#filtro{
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 40px;
}
.container .nav div#options{
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container .nav div#options div{
    display: flex;
    flex-direction: column;
}


.container .main{
    grid-column-start: 2;
    grid-column-end: 8;
    overflow-y: scroll;
    font-size: 18px;
}
.container .main h2{
    padding: 5px;
    margin-top: 15px;
    font-weight: 500;
}
.container .main ul{
    list-style: none;
    display: grid;
    margin: 20px;
    grid-template-columns: auto auto auto;
    gap: 25px;
}
.container .main ul li{
    background-color: #7D3765;
    padding: 10px;
}
.container .main.form{
    grid-column-start: 4;
    grid-column-end: 5;
    overflow-y: hidden;
}
.container .main form{
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
    padding: 10px 100px;
    background-color: #7D3765;
}
.container .main form div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.container .main form div.checkbox{
    padding: 0 10px;
    display: block;
    align-self: flex-end;
    font-size: 15px;
}
.container .main form button{
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: #720B4F;
    color: white;
    border-radius: 10px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}
.container .main form input, textarea{
    padding: 5px 10px;
    background-color: #720B4F;
    color: white;
    font-size: 18px;
    width: 300px;
    border: none;
}

div.options select {
    padding: 5px 10px;
    background-color: #720B4F;
    color: white;
    font-size: 13px;
    border: none;
    width: fit-content;
}

.container .main form input[type = 'checkbox'] {
    color: white;
    font-size: 18px;
    width: auto;
    border: none;
}